.text {
	font-family: 'Lato', sans-serif;
}
.container-fluid {
	background: transparent;
}

.dropdown .dropdown-menu {
	border-color: transparent;
	box-shadow: none;
}

.dropdown .dropdown-menu .aria-expanded li{
	float: right;
	clear: both;
}

.dropdown .dropdown-menu li a{
	color: #777;
	font-size: 110%;
}

#maindiv {
	background-image: url(john-towner-128480.jpg);
	height:850px;
	background-size: cover;
}

#seconddiv {
	width: 100%;
	height:850px;
	background-image: url(joey-kyber-132520.jpg);
	background-size: cover;
}

#seconddiv h1{
	color: white;
	float: right;
	height: 850px;
	padding: 70px 5% 0 0;
	font-size: 450%;
}

#thirddiv {
	width: 100%;
	height:850px;
	background-image: url(henry-perks-224244.jpg);
	background-size: cover;
}

#thirddiv h1{
	color: white;
	float: right;
	height: 850px;
	padding: 40px 5% 0 0;
	font-size: 450%;
	clear: both;
}

#fourthdiv {
	width: 100%;
	height:850px;
	background-image: url(ferran-fusalba-29859.jpg);
	background-size: cover;
}

#fourthdiv h1{
	color: white;
	float: right;
	height: 750px;
	padding: 40px 5% 0 0;
	font-size: 450%;
	clear: both;
}

#header h1 {
	padding-left: 5%;
	font-size: 450%;
	display: inline;
	position: fixed;
}

#header h1 a {
	color: white;
}

#header a:hover {
	text-decoration: none;
}

#header p {
	color: white;
	padding-left: 5%;
	padding-top: 0px;
	font-size: 125%;
	position: fixed;
}

.parallax {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}








